@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto&display=swap);
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #FFE81F;
  font-size: 16px;
  padding: 1rem;
  background-image: url(/img/bg.jpg);
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

input {
  width: calc(100% - 2rem);
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #333;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}
input:focus {
  outline: none;
}

header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
header img {
  max-width: 200px;
}
header h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: none;
  transition: all 0.3s ease;
}
.overlay.show {
  display: block;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  background-color: #fff;
  color: #333;
  z-index: 2;
  padding: 1rem;
  font-size: 1.25rem;
  transition: all 0.3s ease;
}
.popup h2 {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 3rem;
  color: #333;
  text-align: center;
}
.popup h2 span {
  font-weight: 500;
  color: gray;
}
.popup.show {
  display: block;
}
.popup.show .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.popup.show .close img {
  width: 50px;
}
.popup.show .character {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  border: #b3b3b3 1px solid;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #FFE81F;
  color: #333;
}
.popup.show .character div {
  text-align: center;
}
.popup.show .character div strong {
  font-size: 0.75rem;
}
.popup.show .apiinfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.popup.show .apiinfo div {
  text-align: center;
}
.popup.show .apiinfo div strong {
  font-size: 0.75rem;
}
.popup.show h3 {
  text-align: center;
}
.popup.show .world {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.popup.show .world div {
  text-align: center;
}
.popup.show .world div strong {
  font-size: 0.75rem;
}

main .loadingIcon {
  text-align: center;
  color: #FFE81F;
  margin: 5vh auto;
}
main .loadingIcon svg {
  display: block;
}
main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-gap: 1rem;
  position: relative;
}
main .cards .card {
  color: #333;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  place-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
main .cards .card h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
}
main .cards .card h2 span {
  color: #333;
  font-weight: 500;
}
main .cards .card .info {
  display: none;
}
main .cards .card:hover {
  transform: scale(1.1);
  z-index: 1;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
main .cards .card:hover .info {
  display: block;
  position: absolute;
  top: 80%;
  left: 0;
  width: calc(100% - 4rem);
  margin: 0 auto;
  background: inherit;
  padding: 2rem;
  border-radius: 0 0 5px 5px;
  transition: all 0.3s ease;
}

main .cards .card.species-1 {
  background: #ffd079;
}
main .cards .card.unknown {
  background: #fff;
}
main .cards .card.unknown h2 {
  color: #b3b3b3;
}
main .cards .card.species-2 {
  background: #FFD700;
}
main .cards .card.species-3 {
  background: #644502;
}
main .cards .card.species-3 h2 span {
  color: white;
}
main .cards .card.species-3 .info {
  color: #e6e6e6;
}
main .cards .card.species-4 {
  background: #4F9286;
}
main .cards .card.species-5 {
  background: #40422C;
}
main .cards .card.species-5 h2 span {
  color: #b3b3b3;
}
main .cards .card.species-5 .info {
  color: #e6e6e6;
}
main .cards .card.species-6 {
  background: #83A888;
}
main .cards .card.species-7 {
  background: #E5C86A;
}
main .cards .card.species-8 {
  background: #BC6B4D;
}
main .cards .card.species-9 {
  background: #B55101;
}
main .cards .card.species-10 {
  background: #AF3519;
}
main .cards .card.species-11 {
  background: #4D443C;
}
main .cards .card.species-11 h2 span {
  color: #b3b3b3;
}
main .cards .card.species-11 .info {
  color: #e6e6e6;
}
main .cards .card.species-12 {
  background: #B0785F;
}
main .cards .card.species-13 {
  background: #618589;
}
main .cards .card.species-14 {
  background: #74854D;
}
main .cards .card.species-15 {
  background: #AB585A;
}
main .cards .card.species-16 {
  background: #7396AA;
}
main .cards .card.species-17 {
  background: #96AFB8;
}
main .cards .card.species-18 {
  background: #455050;
}
main .cards .card.species-18 h2 span {
  color: #b3b3b3;
}
main .cards .card.species-18 .info {
  color: #e6e6e6;
}
main .cards .card.species-19 {
  background: #9CADAB;
}
main .cards .card.species-20 {
  background: #5B969D;
}
main .cards .card.species-21 {
  background: #D0B085;
}
main .cards .card.species-22 {
  background: #607929;
}
main .cards .card.species-23 {
  background: #DA8A86;
}
main .cards .card.species-24 {
  background: #4C4D66;
}
main .cards .card.species-24 h2 span {
  color: #b3b3b3;
}
main .cards .card.species-24 .info {
  color: #e6e6e6;
}
main .cards .card.species-25 {
  background: #C1721B;
}
main .cards .card.species-26 {
  background: #893A1B;
}
main .cards .card.species-26 h2 span {
  color: #b3b3b3;
}
main .cards .card.species-26 .info {
  color: #e6e6e6;
}
main .cards .card.species-27 {
  background: #5D76A0;
}
main .cards .card.species-28 {
  background: #A0A0A0;
}
main .cards .card.species-29 {
  background: #CBC76F;
}
main .cards .card.species-30 {
  background: #BBE87C;
}
main .cards .card.species-31 {
  background: #BB7150;
}
main .cards .card.species-32 {
  background: #9BA0A4;
}
main .cards .card.species-33 {
  background: #3F7D65;
}
main .cards .card.species-34 {
  background: #A49089;
}
main .cards .card.species-35 {
  background: #BD4113;
}
main .cards .card.species-35 h2 span {
  color: #b3b3b3;
}
main .cards .card.species-35 .info {
  color: #e6e6e6;
}
main .cards .card.species-36 {
  background: #9B422A;
}
main .cards .card.species-36 h2 span {
  color: #b3b3b3;
}
main .cards .card.species-36 .info {
  color: #e6e6e6;
}
main .cards .card.species-37 {
  background: #83321B;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .cards {
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }
  main .cards:hover .card {
    transform: none;
  }
  main .cards:hover .card .info {
    display: none;
  }
  .popup {
    width: 70vw;
    overflow: scroll;
  }
}
@media screen and (max-width: 767px) {
  main .cards {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
  .popup {
    left: 0;
    width: calc(100vw - 2rem);
    overflow: scroll;
  }
  .popup.show .character {
    grid-template-columns: repeat(2, 1fr);
  }
  .popup.show .apiinfo {
    grid-template-columns: repeat(1, 1fr);
  }
  .popup.show .world {
    grid-template-columns: repeat(2, 1fr);
  }
}